

<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="POST">
    <p><label for="team_name">Team Name: </label><input type="text" name="team[name]" id="team_name"</input></p>
    <p><label for="team_motto">Team Motto: </label><input type="text" name="team[motto]" id="team_motto"</input></p>
    <h2>Hero 1</h2>
    <p><label for="name_1">Member 1 Name: </label><input type="text" name="team[heroes][][name]" id="member1_name"</input></p>
    <p><label for="power_1">Member 1 Power: </label><input type="text" name="team[heroes][][power]" id="member1_power"</input></p>
    <p><label for="bio_1">Member 1 Bio: </label><input type="text" name="team[heroes][][bio]" id="member1_bio"</input></p>
    <h2>Hero 2</h2>
    <p><label for="name_2">Member 2 Name: </label><input type="text" name="team[heroes][][name]" id="member2_name"</input></p>
    <p><label for="power_2">Member 2 Power: </label><input type="text" name="team[heroes][][power]" id="member2_power"</input></p>
    <p><label for="bio_2">Member 2 Bio: </label><input type="text" name="team[heroes][][bio]" id="member2_bio"</input></p>
    <h2>Hero 3</h2>
    <p><label for="name_3">Member 3 Name: </label><input type="text" name="team[heroes][][name]" id="member3_name"</input></p>
    <p><label for="power_3">Member 3 Power: </label><input type="text" name="team[heroes][][power]" id="member3_power"</input></p>
    <p><label for="bio_3">Member 3 Bio: </label><input type="text" name="team[heroes][][bio]" id="member3_bio"</input></p>

    <p><input type="submit" id="submit"></input></p>
</form>
